{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center h-100">
    <form action="{{ url_for('auth.authenticate') }}" method="POST"
        style="min-width: 400px; width: 400px; max-width: 400px;">
        <h1 class="text-center text-nowrap" style="font-weight: 700;">Iniciar sesión</h1>

        <label for="email" class="form-label">Correo</label>
        <input id="email" name="email" type="email" class="form-control mb-3" placeholder="Correo" required>

        <label for="password" class="form-label">Clave</label>
        <input id="password" type="password" name="password" class="form-control mb-3" placeholder="Clave" required>

        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
</div>
{% endblock %}