<div class="d-flex flex-column flex-lg-row align-items-center justify-content-center h-100">
    <img src="{{ url_for('static', filename='construction.png') }}" alt="Under Construction"
        class="img-fluid h-auto w-auto mb-3 mb-md-0 me-md-4" style="max-width: min(300px, 80vw);">
    <div class="text-center">
        <h3 class="display-4 display-md-1" style="font-weight: 900;">En construccion!</h3>
        <h5 style="color: #9C9C9C">Estamos trabajando para que tengas una mejor experiencia
        </h5>
        <a href="/" class="btn btn-secondary">
            Volver al inicio
        </a>
    </div>
</div>