{% extends "layout.html" %}

{% block content %}
<div class="container my-4">
    <h2 class="display-6 fw-bold text-primary">Gestión Sitios</h2>
    <br><br>

    <div class="mb-5">
        <h4>Sitios Históricos</h4>
        <br>
        <a href="{{ url_for('historic_sites.render_index') }}" class="btn btn-primary">
            Ver Sitios Históricos
        </a>
        <a href="{{ url_for('historic_sites.render_site_form') }}" class="btn btn-success ms-3">
            Crear Nuevo Sitio Histórico
        </a>
    </div>
    {% if is_admin %}
        <div class="mb-5">
            <h4>Categorías de Sitios Históricos</h4>
            <br>
            <a href="{{ url_for('historic_sites.render_admin_categories') }}" class="btn btn-primary">
                Ver Categorías de Sitios Históricos
            </a>
            <a href="{{ url_for('historic_sites.render_category_form') }}" class="btn btn-success ms-3">
                Crear Nueva Categoría de Sitio Histórico
            </a>
        </div>
    {% endif %}

    <div class="mb-5">
        <h4>Etiquetas</h4>
        <br>
        <a href="{{ url_for('tags.view_tags') }}" class="btn btn-primary">
            Ver listado de etiquetas
        </a>
    </div>

</div>
<div id="flash-container" class="position-fixed bottom-0 start-0 p-3" style="z-index: 1080;"></div>
{% endblock %}