{% extends "layout.html" %}

{% block title %}Detalle Sitio Histórico{% endblock %}

{% block content %}
<div id="historic-site-detail"></div>
<br><br>
<div>
    <a href="" style="padding: 10px 15px;">
        <button>
            Exportar Sitio a CSV</button>
    </a>

    <a id="edit-site-link" href="" style="padding: 10px 15px;">
        <button>
            Editar Sitio</button>
    </a>
</div>

{% endblock %}
{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const pathParts = window.location.pathname.split('/');
        const siteId = pathParts[pathParts.length - 1];

        if (!siteId) {
            container.innerHTML = "<p>Error: No se proporcionó ID del sitio</p>";
            return;
        }

        document.getElementById("edit-site-link").href = `/sitios-historicos/admin/editar-sitio/${siteId}`;

        fetch(`/sitios-historicos/get-site/${siteId}`, { method: 'GET' })
            .then(response => response.json())
            .then(json => {
                const container = document.getElementById("historic-site-detail");

                if (json.error) {
                    container.innerHTML = `<p>${json.error}</p>`;
                    return;
                }
                container.innerHTML = `
                    <div style="border:1px solid #ccc; padding:16px; border-radius:8px; background:#f9f9f9;">
                        <h3 style="color:#333; margin-top:0;">${json.historic_site.site_name}</h3>
                        <p><strong>Descripción corta:</strong> ${json.historic_site.short_description}</p>
                        <p><strong>Descripción larga:</strong> ${json.historic_site.long_description}</p>
                        <p><strong>Ciudad:</strong> ${json.historic_site.city}, <strong>Provincia:</strong> ${json.historic_site.province}</p>
                        <p><strong>Coordenadas:</strong> ${json.historic_site.latitude}, ${json.historic_site.longitude}</p>
                        <p><strong>Categoría:</strong> ${json.category}</p>
                        <p><strong>Estado:</strong> ${json.state}</p>
                        <p><strong>Año de inauguración:</strong> ${json.historic_site.inauguration_year}</p>
                        <p><strong>Visible:</strong> ${json.historic_site.visible ? 'Sí' : 'No'}</p>
                    </div>
                `;
            })
            .catch(err => {
                console.error("Error al cargar detalle:", err);
                document.getElementById("historic-site-detail").innerHTML =
                    "<p>Error al cargar el detalle.</p>";
            });
    });
</script>
{% endblock %}