{% extends "layout.html" %}

{% block title %}Etiquetas{% endblock %}

{% block content %}
    <h2>Etiqueta: {{ tag.name }}</h2>

    <a href="{{ url_for('tags.show_update_tag_form', tag_id=tag.id) }}" class="add-btn">Actualizar etiqueta</a>
    <form method="POST" action="{{ url_for('tags.delete_tag', tag_id=tag.id) }}"  style="display:inline;">
        <button type="submit" class="dlt-btn">Eliminar etiqueta</button>
    </form>
    <a href="{{ url_for('tags.view_tags') }}" class="back-btn">Volver a la lista de etiquetas</a>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}